
header {
	
	display: flex;
	width: 100%;
	
}
/*smaller screen stuff starts here*/
@media screen and (min-width: 480px) and (max-width: 768px) {

	header {

		display: flex;

	}

	body {

		
		align-content: space-between;

	}

	nav ul {

		display: block;
	}
	

	#left {

		
		display: block;
		float: none;
		width: 100vw;
		margin: 0 auto;
		text-align: justify;
		
	}

	#right {

		display: block;
		float: none;
		width: 100vw;
		margin: 0 auto;
		
	}

	
	h1 {

		font-size: 3em;
	}

	.column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 25%;
    }
}





/*ends here*/

body{
	
	text-align: justify;

}

nav {

	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
}

nav li {

	display: inline-block;
	padding-right: 50px;
	margin-left: 30px;

}

h1 {

	margin-top: 0;
	margin-bottom: 0;
	font-size: 6.25em;
	font-family: Arial, sans-serif;
	color: black;
	padding: 10px;
	padding-left: 30px;
	flex:left;

}

#left {

	display:inline-block;
	box-sizing:border-box;
	border:solid 1px #e5e5e5;
	float:left;
	width: 60vw;
	padding: 20px;
	margin: 30px;

}


#right {

	display:inline-block;
	box-sizing:border-box;
	border:solid 1px #e5e5e5; 
	float: right;
	margin: 30px;
	padding:20px;
	
}

ul {

	margin:auto;
}

li {

	list-style-type: none;
	padding-top: 20px;
}

h2 {

	color: #333333;
    font-family: Arial, sans-serif;
    font-size: 3.125em;
    font-style: bold;
    margin-top: 0;
}

h3 {

	color: #333333;
    font-family: Arial, sans-serif;
    font-size: 1.5625em;
    font-style: bold;
    margin-top: 30px;
}

#right h3 {

	 margin-top: 0px;
	 text-align:center;
}

p  {

	font-size:1em;
	font-family:Arial, sans-serif;
}

img {

	padding: 10px;
}
footer p {

	box-sizing: border-box;
	border-style:solid;
	border-width: 1px;
	border-color:#e5e5e5;
	clear:both;
	width: 100%;
	bottom: 0;
	font-size:6.25em;
	font-family:"Lato", sans-serif;
	text-align: center;

}


/* animation code starts here*/

#heart {

  	animation: heartbeat 1s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( 1 );
  
  }

  /* animation code ends here*/



/*code for image grid starts here*/
  .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
/*code for image grid ends here*/
  

}